name: Run tests on several python versions
run-name: ${{ github.actor }} testing freesasa-python
on:
  release:
    types: [published]
jobs:
  Test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
      - name: "Get FreeSASA C library"
        run: git submodule update --init
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install build
      - name: Run tests
        run: USE_CYTHON=1 python setup.py test
      - name: Build package
        run: python -m build
      - name: Build MacOS wheel
        run: python setup.py bdist_wheel
      - name: Build sdist
        # same source for all versions
        if:
          {
            { matrix.os == 'ubuntu-latest' && matrix.python.version == '3.10' },
          }
        run: python setup.py sdist
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
